<table class="table">
    <thead>
      <tr>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
        {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <tr>
                <td>{{value.nombre}}</td>
                <td>{{value.cantidad}}
                    <a href="{% url 'agregar' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                    <a href="{% url 'restar' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                    <a href="{% url 'eliminar' value.producto_id %}" class="badge btn btn-dark badge-dark">x</a>
                </td>
                <td>{{value.acumulado}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row" colspan="4">
                    <div class="alert alert-danger text-center"> Sin Productos en el carrito 😔 </div>
                </th>
            </tr>
        {% endif %}
        <tr>
            <th scope="row">Total:</th>
            <td colspan="1"></td>
            <td colspan="1">$ {{total_carrito}}</td>
        </tr>
    </tbody>
</table>