<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Bienvenido a la Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
</head>
<body>
    <!-- headder -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" runat="server" href="./">Distribuidora G3</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="NavMenuCssClass navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a href="./" class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdropAdmin">
                            Administrador
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- headder -->

    <!-- Modal Administrador -->
    <div class="modal fade" id="staticBackdropAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropAdminLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropAdminLabel">Información Ventas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Venta Total Distribuidora: <b>COP ${{ventas}}</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Administrador -->

    <!-- container -->
    <div class="container body-content">
        <!-- carrito -->
        <div class="row mt-4 mb-4">
            {% include "carrito.html" %}
            <div class="row text-center">
                <div class="col-12 text-left">
                    <a href="{% url 'limpiar' %}" class="btn btn-danger">
                        <i class="bi bi-cart-x"></i> Limpiar</a>
                    <a href="{% url 'finalizar_compra' %}" class="btn btn-success">
                        <i class="bi bi-cash-coin"></i> Finalizar compra</a>
                </div>
            </div>
        </div>
        <!-- carrito -->
        <!-- producto -->
        <div class="row mt-4 mb-4">
            <!-- {{carrito}} -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-sm alert-{{ message.tags }}" {% endif %}>
                            {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-12">
                <div class="row gx-4 row-cols-1 row-cols-md-4 row-cols-xl-4 justify-content-start">
                    {% for producto in productos %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top border-dark border-1" src="{{ producto.foto.url }}" style="width:100%;height:250px">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <span>{{producto.sku}}</span>
                                    <h5 class="fw-bolder">{{producto.nombre}}</h5>
                                    <!-- Product price-->
                                    <span>COP {{producto.precio_unitario}}</span>
                                    {% if producto.sku|stringformat:"s"|slice:":2" == "WE" %}
                                        <p class="card-text">Precio x Gramo</p>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-primary mt-auto" 
                                    href="{% url 'agregar' producto.id %}">
                                    <i class="bi bi-plus-circle"></i>
                                    Agregar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- producto -->
    </div> 
    <!-- container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>